@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* Reduzindo a base de 16px para 14px (compactação de ~12.5%) */
    font-size: 14px;
    background-color: #000;
  }
  
  body {
    @apply text-zinc-300 antialiased overflow-x-hidden;
  }
}

/* Personalização de Scrollbar para ficar fina e discreta */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fac415;
}